<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="shortcut icon" type="images/images/ethos_logo.png" href="images/ethos_logo.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blockchain Explorer">
    <meta name="author" content="">

    <title>Ethos.io Blockchain Explorer</title>

    <!-- Bootstrap core JavaScript -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
     <link href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css" rel="stylesheet">

   

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

        
<!--     <!--script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
     <link href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css" rel="stylesheet"> 
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->

    <!-- Custom styles for this template -->
    <link href="css/style.css" type="text/html" rel="stylesheet">
      <style type="text/css">
        body {
      padding-top: 54px;
    }

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

#logo {
  max-height: 50px;
}

.btn-primary {
  background: linear-gradient(-180deg, #152a53 0%, #6C9Bf3 100%)  !important;
}

h3 {
  text-align: center;
}

header {
  margin-top: 50px;
}

.btn-primary:hover {
  background-color: #8eb4fa !important;
  color: white !important;
  text-decoration-color: white !important;
  border-color: black !important;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd  !important;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #21ceab !important;
}

ul {
  list-style-type: none;
  text-decoration: bold;
}                

#bottomfooter {
 /* height: -60px;
  margin-bottom: 0px;*/

   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      text-align: center;
/*    color: white;*/
    text-decoration: none;
}
 

    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"><img id="logo" src="images/ethos_logo.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fa fa-home"></i>&nbsp;Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blocks"><i class="fa fa-th-large"></i>&nbsp;Blocks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/transactions"><i class="fa fa-exchange-alt"></i>&nbsp;Transactions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tokens"><i class="fab fa-superpowers"></i>&nbsp;Tokens</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/contracts"><i class="fas fa-capsules"></i>&nbsp;Contracts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
    <table id="table">
    <thead>
        <tr>
          <th data-field="token">Token</th>
            <th data-field="price">Price</th>
            <th data-field="percent_change">% change</th>
            <th data-field="market_cap">Market Cap</th>
        </tr>
    </thead>
  </table>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" id="bottomfooter">
      <div class="container">
        <p class="m-0 text-center text-white">Designed with &hearts; &nbsp;&nbsp;&nbsp;&nbsp;|  &nbsp;&nbsp;Copyright &copy; <a href="https://www.ethos.io/"> Ethos.io  </a>
        Block explorer 2018  &nbsp;&nbsp; |&nbsp;&nbsp;
        <a href="#" class="author-social" > <i class="fab fa-facebook"></i></a>&nbsp;&nbsp;

         <a href="https://twitter.com/ethos_io?lang=en" class="author-social" > <i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
      
        <a href="mailto:shingo@ethos.io" class="author-social" ><i class="fas fa-envelope"></i></a> 
        &nbsp;&nbsp;


</p>
      </div>
      <!-- /.container -->
    </footer>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 //    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
 //    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
     <link href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css" rel="stylesheet">

    <script>

     /*
* Sends a request to API to get tokens.
*/

var data = [ 
        {
               "token": "1",
              "price": "10",
              "percent_change": "hghj",
              "market_cap": "$" + "hjghj"
          },
           {
               "token": "1",
              "price": "10",
              "percent_change": "hghj",
              "market_cap": "$" + "hjghj"
          }
];


 // Aarthi:
 // Client should send request to server, server should get this information from
 // url below and pass on the data to server.

  $.ajax({
    type: "GET",
    url: 'https://api.coinmarketcap.com/v1/ticker/?start=100&limit=10',
    dataType: "json",

  success: function(response){
    //console.log(response);
    // console.log(response[0]);
    // console.log('RESPONSE IS:' + Object.keys(response));
    //  console.log('RESPONSE IS:' + Object.values(response));
      var data1 = [];
      for(var i=0; i < response.length; i++) {

          var tmp = {
               "token": response[i].name,
              "price": response[i].price_usd,
              "percent_change": response[i].percent_change_1h,
              "market_cap": "$" + response[i].market_cap_usd
          };

          data1.push(tmp);
      }


      console.log(data1);
      $('#table').bootstrapTable({
          data: data1
      });

  },
  })

  //end erica's code

    </script>



  </body>

</html>
